body {
    background-color: #28282b;
}
button {
    background-color: #28282b;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
}
button:hover {
    background-color: aliceblue;
color: #28282b;
border: 2px solid black;
transition: background-color 0.3s, border-color 0.3s, color 0.3s; /
}

h1 {
    text-align: center;
    color: white;
    text-decoration: double underline;
    
}
.contact {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left:480px;
    margin-right: 1000px;
    border: white solid 2px;
    border-radius: 12px;
}
.mail {
    margin-top: 30px;
    margin-bottom: 0%;
    text-align: center;

    color: white;
}
.text {
    margin-top: 10px;
    text-align: center;
    margin-left: 2px;
    margin-bottom: 0px;
    color: white;  
    font-size: 20px;
    font-weight: lighter;
}
.insta {
    margin-top: 70px;
    margin-bottom: 0%;
    text-align: center;

    color: white;
}
.whatsapp {
    margin-top: 70px;
    margin-bottom: 0%;
    text-align: center;
    
    color: white;
}
